@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p><b>Leader: </b> Nguyen Tu Bao</p>
<p><b>Student ID: </b> 520H0515</p>
<p><b>Phone: </b> 0975448317</p>

<p><b>Member: </b> Nguyen Quoc An</p>
<p><b>Student ID: </b> 520H0601</p>
<p><b>Phone: </b> 0899226367</p>

<p>We created a useful web to provide Suppement Products</p>
