@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Ton Duc Thang University<br />
    19 Nguyen Huu Tho, Tan Phong, District 7, Ho Chi Minh City<br />
    <abbr title="Phone">Phone:</abbr>
    0975.448.317
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:bao0975448317@gmail.com">bao0975448317@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:quocan050302@gmail.com">quocan050302@gmail.com</a>
</address>